:root { 
--black_900_7f:#0000007f; 
--pink_A100_26:#fc86a926; 
--green_700:#23b000; 
--green_A100:#acfcb0; 
--black_900_87:#00000087; 
--yellow_800:#e4b613; 
--blue_400_19:#32a7e219; 
--light_green_600:#7fc329; 
--blue_gray_900_02:#13253f; 
--blue_gray_900_01:#13243e; 
--blue_gray_900:#1c2a38; 
--purple_300:#d64bc2; 
--white_A700_4c:#ffffff4c; 
--pink_50:#ffdff6; 
--blue_900:#044ab3; 
--blue_gray_100:#cfd9de; 
--cyan_900_66:#0c626766; 
--gray_800:#51382f; 
--cyan_400_7f:#2adce67f; 
--orange_600:#fb8b00; 
--white_A700_66:#ffffff66; 
--black_900_99:#04030899; 
--cyan_50:#e5fff1; 
--indigo_600:#312ecb; 
--gray_700_01:#555555; 
--green_600_0c:#34a8530c; 
--light_blue_A400:#0dc6fc; 
--gray_900_33:#25282c33; 
--red_300:#ff6969; 
--light_blue_600:#009ade; 
--green_600:#34a853; 
--pink_50_02:#ffd4f3; 
--blue_gray_200_01:#b2bbc3; 
--gray_400_38:#b4b4b438; 
--white_A700_cc:#ffffffcc; 
--white_A700_33:#ffffff33; 
--pink_50_01:#ffd4f4; 
--black_900_66:#04030866; 
--pink_50_03:#ffc7f7; 
--green_400_01:#4dc76f; 
--gray_100_90:#f1f3f490; 
--purple_400:#ce44a6; 
--blue_gray_100_93:#d9d9d993; 
--purple_A400_02:#dc02ff; 
--purple_A400_01:#db02ff; 
--white_A700_e5:#ffffffe5; 
--blue_gray_200:#b1bac3; 
--gray_900:#1b1b1b; 
--gray_100:#f4f4f5; 
--blue_gray_800_87:#2c3a4b87; 
--pink_300_33:#f45b8933; 
--yellow_600_01:#ffde32; 
--white_A700_b2:#ffffffb2; 
--teal_400_63:#22b07d63; 
--red_600:#e83f3a; 
--orange_600_01:#f98a00; 
--gray_900_87_02:#1b1b1b87; 
--gray_900_87_03:#08243187; 
--purple_400_63:#b548c663; 
--pink_700:#c23772; 
--gray_200_01:#ebebeb; 
--blue_gray_700:#495560; 
--purple_A400:#db02fe; 
--pink_300_26:#f9719926; 
--red_A700:#e10714; 
--gray_600:#778088; 
--pink_200_01:#ff9bb3; 
--orange_400:#ffa331; 
--gray_400_01:#b1b5b8; 
--gray_900_87_01:#25282c87; 
--gray_400_02:#c4c4c4; 
--blue_300:#58a9fd; 
--red_500_02:#ff4437; 
--blue_gray_700_02:#3d666f; 
--red_500_03:#fa3e49; 
--blue_gray_700_01:#3d6770; 
--blue_gray_700_04:#455560; 
--red_500_01:#f83c3f; 
--blue_gray_700_03:#3d6670; 
--purple_200:#d175e0; 
--pink_200_33:#fd8fb033; 
--light_blue_A200:#30c3fd; 
--red_500:#fb3131; 
--light_blue_400:#37b1e2; 
--green_400:#55c775; 
--black_900:#000000; 
--gray_900_a2:#25282ca2; 
--blue_gray_800:#334253; 
--deep_orange_200:#f0c59e; 
--gray_900_02:#1e1e1e; 
--gray_700:#666666; 
--gray_900_03:#191c32; 
--gray_900_04:#17212b; 
--gray_900_05:#3a150e; 
--amber_600:#eeb609; 
--indigo_50:#e0e2ff; 
--gray_900_01:#25282c; 
--gray_900_99_01:#25282c99; 
--white_A700_a8:#ffffffa8; 
--gray_900_06:#222222; 
--gray_300_02:#e3e3e3; 
--gray_300_01:#dddddd; 
--teal_A400:#27cea6; 
--orange_50:#fff2e5; 
--teal_200_7f:#7bbcb07f; 
--blue_gray_900_99:#1d1c3e99; 
--indigo_900:#2c2c62; 
--blue_400_01:#32a7e2; 
--gray_50_01:#f8fafc; 
--gray_50_02:#f7f9fb; 
--black_900_b2:#000000b2; 
--gray_900_99:#03143499; 
--green_A700_02:#27c152; 
--red_800:#d32b1e; 
--green_A700_01:#00ae4e; 
--pink_300_33_01:#f9719933; 
--black_900_01:#040308; 
--orange_200_7e:#f7c1777e; 
--deep_orange_A700:#f3190b; 
--blue_gray_900_87:#292d3287; 
--deep_purple_A200:#8649fc; 
--amber_900:#ff6f08; 
--gray_400:#c5c5c5; 
--blue_gray_100_cc:#c6cdd0cc; 
--black_900_0f:#0000000f; 
--indigo_900_01:#002169; 
--indigo_900_02:#002f87; 
--black_900_19:#00000019; 
--orange_A200_e5:#ecb43ce5; 
--black_900_14:#00000014; 
--cyan_600:#00baba; 
--green_200:#9ef0a1; 
--cyan_A200:#0dfcfc; 
--gray_500_7f:#9797977f; 
--red_700:#ce3127; 
--blue_gray_100_01:#d9d9d9; 
--yellow_600_7f:#ffda327f; 
--blue_gray_100_02:#c6cdd0; 
--blue_gray_100_03:#ced9df; 
--blue_gray_100_04:#cbd4dd; 
--blue_gray_100_05:#cfcfcf; 
--gray_50:#f8fcff; 
--red_50:#ffeeee; 
--red_A400:#eb1f39; 
--purple_900_7f:#47047d7f; 
--red_300_02:#ec6368; 
--gray_500:#9294a3; 
--red_300_01:#ee6a5f; 
--green_50:#ddffe6; 
--blue_400:#5b9bde; 
--black_900_3d:#0000003d; 
--cyan_900_14:#15517d14; 
--white_A700_7e:#ffffff7e; 
--blue_gray_100_66:#d9d9d966; 
--white_A700_90:#ffffff90; 
--green_900:#028600; 
--black_900_3f:#0000003f; 
--white_A700_99:#ffffff99; 
--yellow_600:#ffda32; 
--green_A700:#00a81b; 
--gray_900_4c:#25282c4c; 
--gray_200_87:#f0f0f087; 
--pink_300:#f45b89; 
--orange_A200:#f49a40; 
--blue_gray_300:#93afb5; 
--red_A200:#fe4d4d; 
--cyan_900_66_01:#0d626766; 
--yellow_50:#ffffe9; 
--teal_A100:#affff0; 
--amber_300:#ffdf54; 
--gray_200:#e8eaeb; 
--black_900_4f:#0000004f; 
--gray_100_03:#f3f3f8; 
--indigo_400:#4b69b1; 
--gray_100_02:#f7f7f7; 
--red_800_01:#d81919; 
--gray_100_05:#f5f5f5; 
--gray_100_04:#f1f3f6; 
--gray_100_01:#f3f3f3; 
--black_900_51:#00000051; 
--white_A700:#ffffff; 
--black_900_d3:#000000d3; 
--deep_orange_50:#ffebe9; 
--gray_900_75:#25282c75; 
--orange_600_63:#ff870063; 
--orange_A200_d8:#ecb43cd8; 
--gray_500_3f:#9292923f; 
--blue_gray_900_c4:#292d32c4; 
--purple_400_02:#b548c6; 
--teal_200:#7bbcb0; 
--black_900_1e:#0000001e; 
--black_900_21:#00000021; 
--purple_400_01:#c344ce; 
--blue_gray_900_c6:#292d32c6; 
--black_900_28:#00000028; 
--pink_200:#fd8fb0; 
--blue_gray_900_09:#273240; 
--gray_600_02:#848383; 
--blue_gray_900_08:#333333; 
--gray_600_01:#848484; 
--blue_gray_900_07:#2f2f2f; 
--blue_gray_400:#7f94a7; 
--blue_gray_900_06:#1d1c3e; 
--blue_gray_900_05:#33363f; 
--gray_900_87:#00173387; 
--blue_gray_900_04:#1c2b38; 
--black_900_e2:#000000e2; 
--blue_gray_900_03:#292d32; 
--light_green_600_01:#80c32a; 
--gray_600_04:#757575; 
--gray_300:#e6e6e6; 
--gray_600_03:#67727e; 
--black_900_33:#00000033; 
--black_900_cc:#000000cc; 
--gray_900_7e:#53091b7e; 
--gray_900_7f:#25282c7f; 
--black_900_30:#00000030; 
--blue_gray_900_10:#373737; 
--indigo_500:#3f4cb2; 
}